// Mixins - Utilities - Margins

// Generate margin classes
=margin-classes
    .mt-1
        margin-top: $spacing
    .mt-2
        margin-top: $spacing * 2
    .mb-1
        margin-bottom: $spacing
    .mb-2
        margin-bottom: $spacing * 2