// Variables - Grid

// Container widths
$container-width: (xs: 100%, sm: 720px, md: 960px, lg: 1140px)

// Alignments
$vertical-alignment:                                                 (start: flex-start, center: center, end: flex-end)
$horizontal-alignment: (start: flex-start, center: center, end: flex-end, around: space-around, between: space-between)

// Column count
$column-count: 12