// Variables - Reset

// Global settings
$font-size:   16px
$line-height: 1.15

// Small, strong, and emphasized settings
$small-font-size:   0.5em
$strong-font-weight: bold
$em-font-style:    italic

// Heading font-sizes
$h1-font-size:  2.5rem
$h2-font-size:    2rem
$h3-font-size: 1.75rem
$h4-font-size:  1.5rem
$h5-font-size: 1.25rem
$h6-font-size:    1rem

// Blockquote font-size
$bq-font-size: 1.25rem