// Mixins - Grid - Alignment

// Generate vertical/horizontal alignment classes
=alignment-classes
    @each $key, $value in $vertical-alignment
        .align-items-#{$key}
            align-items: $value
        .align-self-#{$key}
            align-self: $value
    @each $key, $value in $horizontal-alignment
        .justify-content-#{$key}
            justify-content: $value