// Mixins - Grid - Orders

// Generate order classes
=order-classes($breakpoint)
    // Make them all order reset modifier classes reset on the extra-small breakpoint
    @if $breakpoint == xs
        [class*="or-r"]
            order: initial

    // Finally, properly handle all order modifier classes
    @for $i from 1 through $column-count
        @if $breakpoint == xs
            .or-#{$i}
                order: $i
        @else if $breakpoint == sm
            .or-r#{$i}
                order: $i