// Mixins - Grid - Rows

// Generate row class
=row-class()
    .row
        display: flex
        flex-wrap: wrap
        margin-left: -$spacing
        margin-right: -$spacing
        &.rev
            flex-flow: row-reverse wrap-reverse