// Typgraphy Defaults
$default-font-size: 14
$default-text-color: #303030

// Typography MQ Sizes (in em)
// Large
$h1-lg-size: 3
$h1-lg-line: 1.05
$h2-lg-size: 2.25
$h2-lg-line: 1.25
$h3-lg-size: 1.75
$h3-lg-line: 1.25
$h4-lg-size: 1.125
$h4-lg-line: 1.22222222
$bq-lg-size: 1.5
$bq-lg-line: 1.45833333
$default-lg-size: 1
$default-lg-line: 1.375
// Medium
$h1-md-size: 2.5
$h1-md-line: 1.125
$h2-md-size: 2
$h2-md-line: 1.25
$h3-md-size: 1.5
$h3-md-line: 1.25
$h4-md-size: 1.125
$h4-md-line: 1.22222222
$bq-md-size: 1.5
$bq-md-line: 1.45833333
$default-md-size: 1
$default-md-line: 1.375
// Small
$h1-sm-size: 2
$h1-sm-line: 1.25
$h2-sm-size: 1.625
$h2-sm-line: 1.15384615
$h3-sm-size: 1.375
$h3-sm-line: 1.13636364
$h4-sm-size: 1.125
$h4-sm-line: 1.11111111
$bq-sm-size: 1.25
$bq-sm-line: 1.25
$default-sm-size: 1
$default-sm-line: 1.25
// Extra-Small
$h1-xs-size: 2
$h1-xs-line: 1.25
$h2-xs-size: 1.625
$h2-xs-line: 1.15384615
$h3-xs-size: 1.375
$h3-xs-line: 1.13636364
$h4-xs-size: 1.125
$h4-xs-line: 1.11111111
$bq-xs-size: 1.25
$bq-xs-line: 1.25
$default-xs-size: 1
$default-xs-line: 1.25
