// Grid - Partial

.container
    width: $container-width
    margin: 0 auto
    padding-left: $spacing+px
    padding-right: $spacing+px

.row
    height: auto
    margin-left: -$spacing+px
    margin-right: -$spacing+px
    clear: both
    overflow: auto

[class*='col-']
    width: 100%
    position: relative
    float: left
    padding: $spacing+px

=grid--sm()
    .container
        width: $container-sm-width
    +grid-generate()

=grid--md()
    .container
        width: $container-md-width

=grid--lg()
    .container
        width: $container-lg-width