// Partials - Grid

.container
    width: $container-width
    margin-left: auto
    margin-right: auto
    padding-left: $spacing
    padding-right: $spacing

.row
    display: flex
    flex-wrap: wrap
    flex-direction: column
    margin-left: -$spacing
    margin-right: -$spacing

.col, [class*='col-']
    flex: 1 0 auto
    padding-left: $spacing
    padding-right: $spacing

=grid--sm
    .container
        width: $container-sm-width

    .row
        flex-direction: row

    +grid-generate

=grid--md
    .container
        width: $container-md-width

=grid--lg
    .container
        width: $container-lg-width