// Partials - Helpers

+text-alignment-classes

.list-unstyled, .list-inline
    list-style: none
    margin-left: 0
    padding-left: 0
.list-inline li
    display: inline-block

.sr-only
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0, 0, 0, 0)
    border: 0

+helpers-mgn-generate

+helpers-pad-generate

+helpers-hs-generate('xs')

=helpers--sm
    +helpers-hs-generate('sm')

=helpers--md
    +helpers-hs-generate('md')

=helpers--lg
    +helpers-hs-generate('lg')