// Partials - Reset

*, *::before, *::after
    box-sizing: border-box

html
    line-height: $line-height
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-size-adjust: 100%

body, input
    margin: 0

+heading-elements-and-classes

p, ul, ol, dl, pre
    margin-top: 0
    margin-bottom: 1rem

ul ul, ul ol,
ol ol, ol ul
    margin-bottom: 0

small
    font-size: map-get($font-size, small)

strong, dt, #{heading-class($headings)}
    font-weight: $strong-font-weight

em
    font-style: $em-font-style

dd
    margin-left: 0
    margin-bottom: .5rem

blockquote
    margin: 0 0 1rem
    font-size: map-get($font-size, blockquote)

fieldset
    min-width: 0
    margin: 0
    padding: 0
    border: 0