// Partials - Reset

*, *::before, *::after
    box-sizing: border-box

html
    font-size: $font-size
    line-height: $line-height
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-size-adjust: 100%

body, input
    margin: 0

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
    margin-top: 0
    margin-bottom: .5rem

h1, .h1
    font-size: $h1-font-size

h2, .h2
    font-size: $h2-font-size

h3, .h3
    font-size: $h3-font-size

h4, .h4
    font-size: $h4-font-size

h5, .h5
    font-size: $h5-font-size

h6, .h6
    font-size: $h6-font-size

p, ul, ol, dl, pre
    margin-top: 0
    margin-bottom: 1rem

small
    font-size: $small-font-size

strong, dt, .h1, .h2, .h3, .h4, .h5, .h6
    font-weight: $strong-font-weight

em
    font-style: $em-font-style

dd
    margin-left: 0
    margin-bottom: .5rem

blockquote
    margin: 0 0 1rem
    font-size: $bq-font-size

fieldset
    min-width: 0
    margin: 0
    padding: 0
    border: 0