// Generate Margin Helper Classes
=helpers-mgn-create($spacing, $spacing-dbl)
    .mgn-full-top
        margin-top: $spacing+px
    .mgn-double-top
        margin-top: $spacing-dbl+px
    .mgn-full-btm
        margin-bottom: $spacing+px
    .mgn-double-btm
        margin-bottom: $spacing-dbl+px

// Generate Padding Helper Classes
=helpers-pad-create($spacing, $spacing-dbl)
    .pad-full-top
        padding-top: $spacing+px
    .pad-double-top
        padding-top: $spacing-dbl+px
    .pad-full-btm
        padding-bottom: $spacing+px
    .pad-double-btm
        padding-bottom: $spacing-dbl+px

// Generate Hide & Show Classes
=helpers-hs-create($size)
    $list: lg md sm xs
    @each $name in $list
        @if $name == $size
            .#{$name}-show
                display: block
            .#{$name}-hide
                display: none
        @else
            .#{$name}-show
                display: none
            .#{$name}-hide
                display: block
